# Use in output_log.sh
LOGFILE="/var/log/oci_update_lb_ssl.log"


# See link for details
# https://docs.oracle.com/en-us/iaas/tools/oci-cli/3.10.5/oci_cli_docs/cmdref/lb/certificate/create.html

private_key_file="/home/user/privkey.pem"
public_certificate_file="/home/user/cert.pem"


# See link for details
# https://docs.oracle.com/en-us/iaas/tools/oci-cli/3.10.5/oci_cli_docs/cmdref/lb/listener/update.html#optional-parameters

default_backend_set_name="bs_name"
listener_name="listeners_name"
load_balancer_id="ocid1.loadbalancer.oc1.region.aaaaaaa..." \
port="443"
protocol="HTTP"
routing_policy_name="routingpolicy_name"
ssl_certificate_name="ssl_certificate_name"
